/*
THIS FILE WAS DEVELOPED BY MEHMET GUDUK
© 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
*/

header {
        position: relative;
        height: 90px;
        background-color: var(--orange1);
}

div.header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1.hepsiburada {
                display: inline-block;
                font-size: var(--fontsize1);
                font-weight: 300;
                color: var(--white1);
                cursor: pointer;

                &#hepsiburada-3 {
                        display: none;
                }
        }

        input.search-input {
                min-width: 400px;
                height: 32px;
                border: none;
                border-radius: 5px 0 0 5px;
                font-size: var(--fontsize2);
                color: var(--gray2);
                background-color: var(--white1);
                transition: width 0.5s;
                padding-left: 10px;
                margin-left: 5px;

                &:focus {
                        min-width: 500px;
                        border: var(--border1);
                        outline: none;
                        font-weight: 600;

                        & + i.search-icon {
                                background-color: var(--gray2);
                                color: var(--white1);
                        }
                }
        }

        i.search-icon {
                font-size: 20px;
                border-radius: 0 5px 5px 0;
                color: var(--orange1);
                background-color: var(--white1);
                transition: color 0.1s, background-color 0.1s;
                padding: 6px 5px;
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                        background-color: var(--gray2);
                        color: var(--white1);
                }
        }
}

div.header-right-menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 25px;
        right: 30px;
}

// @@@@@@@@@@ LOCATION @@@@@@@@@@
div.location {
        display: flex;
        flex-direction: row;

        i.location-icon {
                font-size: 35px;
                color: var(--white1);
                cursor: pointer;
        }
        div.location-container {
                color: var(--white1);
                padding-left: 5px;
                cursor: pointer;

                span.location-header {
                        display: block;
                        font-size: var(--fontsize4);
                }
                span.location-city {
                        display: block;
                        font-size: var(--fontsize2);
                        font-weight: 600;
                }
        }
}

// @@@@@@@@@@ BASKET @@@@@@@@@@
div.basket {
        display: flex;
        flex-direction: column;
        position: relative;

        &[is_active="true"] {
                div.basket-dropdown {
                        display: block;
                }
        }

        &:hover {
                i.basket-icon {
                        color: var(--orange1);
                        background-color: var(--white1);
                }
        }

        i.basket-icon {
                font-size: 30px;
                color: var(--white1);
                border-radius: 5px;
                padding: 5px 10px 5px 6px;
                cursor: pointer;
        }

        div.hidden-5px {
                position: absolute;
                top: 40px;
                right: 0;
                height: 5px;
                width: 187px;
                background-color: yellow; // SİL BUNU
        }

        div.basket-dropdown {
                display: none;
                position: absolute;
                top: 45px;
                right: 0;
                z-index: 99;

                div.dropdown-container {
                        border-radius: 8px;
                        background-color: var(--white2);
                        padding: 25px 20px;
                        background-color: var(--white2);

                        table.product-table {
                                tbody.product-content {
                                        // BURALAR KOMPLE DEĞİŞEBİLİR.
                                        tr.product {
                                                background-color: var(--white3);
                                                border-radius: 5px;
                                                padding: 5px 10px;

                                                th.product-title {
                                                        display: block;
                                                }
                                                th.product-count {
                                                        display: inline;
                                                }
                                                th.product-price {
                                                        display: inline;

                                                        i.turkish-lira {
                                                                display: inline;
                                                        }
                                                }
                                        }
                                }
                        }
                        div.products-total {
                                span.total {
                                        i.turkish-lira {
                                        }
                                }
                        }
                }
        }
}

// @@@@@@@@@@ USER @@@@@@@@@@
div.user {
        display: flex;
        flex-direction: column;
        position: relative;

        &[is_active="true"] {
                div.user-dropdown {
                        display: block;
                }
        }

        &:hover {
                i.user-icon {
                        color: var(--orange1);
                        background-color: var(--white1);
                }
        }

        i.user-icon {
                font-size: 30px;
                color: var(--white1);
                border-radius: 5px;
                padding: 5px 8px;
                cursor: pointer;
        }

        div.hidden-5px {
                position: absolute;
                top: 40px;
                right: 0;
                height: 5px;
                width: 187px;
        }

        div.user-dropdown {
                display: none;
                position: absolute;
                top: 45px;
                right: 0;
                z-index: 99;

                div.dropdown-container {
                        border-radius: 8px;
                        background-color: var(--white2);
                        padding: 25px 20px;

                        a.dropdown-item {
                                display: block;
                                font-size: var(--fontsize2);
                                color: var(--gray1);
                                border-radius: 5px;
                                padding: 5px 10px;

                                &#location-link {
                                        display: none;
                                }

                                &:last-child {
                                        color: var(--red1);
                                        font-weight: 600;
                                }

                                &:nth-child(6) {
                                        color: var(--gray1);
                                        font-weight: 600;
                                }

                                &:hover {
                                        color: #ff6000;
                                        background-color: var(--white3);
                                        box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.011);
                                }
                        }
                        hr.dropdown-separator {
                                margin: 5px 10px;
                        }
                }
        }
}
