/*
THIS FILE WAS DEVELOPED BY MEHMET GUDUK
© 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
*/

header {
        position: relative;
        height: 90px;
        background-color: var(--orange1);
}

div.header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1.hepsiburada {
                display: inline-block;
                font-size: var(--fontsize1);
                font-weight: 300;
                color: var(--white1);
                cursor: pointer;

                &#hepsiburada-3 {
                        display: none;
                }
        }

        div.search-container {
                display: flex;
                align-items: center;

                input.search-input {
                        width: 400px;
                        height: 32px;
                        border: none;
                        border-radius: 5px 0 0 5px;
                        font-size: var(--fontsize2);
                        color: var(--gray2);
                        background-color: var(--white1);
                        padding-left: 10px;
                        margin-left: 5px;

                        &:focus {
                                width: 500px;
                                border: var(--border1);
                                outline: none;
                                font-weight: 600;

                                & + i.search-icon {
                                        background-color: var(--gray2);
                                        color: var(--white1);
                                }
                        }
                }

                i.search-icon {
                        font-size: 20px;
                        border-radius: 0 5px 5px 0;
                        color: var(--orange1);
                        background-color: var(--white1);
                        transition: color 0.1s, background-color 0.1s;
                        padding: 6px 5px;
                        margin-right: 5px;
                        cursor: pointer;

                        &:hover {
                                background-color: var(--gray2);
                                color: var(--white1);
                        }
                }
        }
}

div.header-right-menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 25px;
        right: 30px;
}

// @@@@@@@@@@ LOCATION @@@@@@@@@@
div.location {
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: 5px;
        padding: 0 8px;

        &:hover {
                background-color: var(--white1);
                color: var(--orange1);

                i.location-icon {
                        color: var(--orange1);
                }

                div.location-container {
                        span.location-header {
                                color: var(--orange1);
                        }
                        span.location-city {
                                select.city-select {
                                        color: var(--orange1);
                                        background-color: var(--white3);
                                        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
                                }
                        }
                }
        }

        i.location-icon {
                color: var(--white1);
                font-size: 35px;
                margin-top: 2px;
        }

        div.location-container {
                padding-left: 5px;

                span.location-header {
                        display: block;
                        color: var(--white1);
                        font-size: var(--fontsize4);
                        margin-top: 3px;
                }
                span.location-city {
                        display: block;
                        margin-top: -4px;

                        select.city-select {
                                border: none;
                                background-color: transparent;
                                color: var(--white1);
                                font-weight: 600;
                                width: 120px;
                                border-radius: 3px;
                                appearance: none;
                                cursor: pointer;

                                &:focus {
                                        outline: none;
                                }

                                option.city {
                                        border: none;
                                        padding: 2px 5px;
                                        color: var(--gray1);
                                }
                        }
                }
        }
}

// @@@@@@@@@@ BASKET @@@@@@@@@@
div.basket {
        display: flex;
        flex-direction: column;
        position: relative;

        &[is_active="true"] {
                div.basket-dropdown {
                        display: block;
                }
        }

        &:hover {
                i.basket-icon {
                        color: var(--orange1);
                        background-color: var(--white1);
                }
        }

        i.basket-icon {
                font-size: 30px;
                color: var(--white1);
                border-radius: 5px;
                padding: 5px 10px 5px 6px;
                cursor: pointer;
        }

        div.hidden-5px {
                position: absolute;
                top: 40px;
                right: 0;
                height: 5px;
                width: 44px;
        }

        div.basket-dropdown {
                display: none;
                position: absolute;
                top: 45px;
                right: 0;
                z-index: 99;

                div.dropdown-container {
                        border-radius: 8px;
                        font-size: var(--fontsize2);
                        color: var(--gray1);
                        background-color: var(--white2);
                        padding: 25px 20px;

                        ul.products {
                                list-style-type: none;

                                li.product {
                                        background-color: var(--white3);
                                        border-radius: 5px;
                                        cursor: pointer;
                                        margin-bottom: 3px;

                                        &:hover {
                                                box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.011);

                                                div.product-title {
                                                        color: var(--orange1);
                                                }
                                        }

                                        div.product-title {
                                                width: 147px;
                                                padding: 5px 10px;
                                        }

                                        div.product-details {
                                                position: relative;
                                                text-align: right;
                                                padding: 0 10px 5px 10px;

                                                span.product-count {
                                                        position: absolute;
                                                        bottom: 5px;
                                                        left: 10px;
                                                        opacity: 0.6;
                                                        font-size: var(--fontsize3);
                                                        margin-right: 5px;
                                                }

                                                span.product-price {
                                                        font-weight: 600;

                                                        i.turkish-lira {
                                                                display: inline;
                                                        }
                                                }
                                        }
                                }
                        }

                        div.products-total {
                                text-align: center;
                                background-color: var(--white3);
                                padding: 5px 10px;

                                span.total {
                                        color: var(--green1);
                                        font-weight: 600;

                                        i.turkish-lira {
                                                display: inline;
                                        }
                                }

                                a.basket-link {
                                        display: block;
                                        color: var(--gray1);
                                        opacity: 0.7;
                                        font-size: var(--fontsize3);

                                        &:hover {
                                                background-color: var(--white2);
                                                color: var(--orange1);
                                                opacity: 1;
                                        }
                                }
                        }
                }
        }
}

// @@@@@@@@@@ USER @@@@@@@@@@
div.user {
        display: flex;
        flex-direction: column;
        position: relative;

        &[is_active="true"] {
                div.user-dropdown {
                        display: block;
                }
        }

        &:hover {
                i.user-icon {
                        color: var(--orange1);
                        background-color: var(--white1);
                }
        }

        i.user-icon {
                font-size: 30px;
                color: var(--white1);
                border-radius: 5px;
                padding: 5px 8px;
                cursor: pointer;
        }

        div.hidden-5px {
                position: absolute;
                top: 40px;
                right: 0;
                height: 5px;
                width: 46px;
        }

        div.user-dropdown {
                display: none;
                position: absolute;
                top: 45px;
                right: 0;
                z-index: 99;

                div.dropdown-container {
                        border-radius: 8px;
                        background-color: var(--white2);
                        padding: 25px 20px;

                        a.dropdown-item {
                                display: block;
                                font-size: var(--fontsize2);
                                color: var(--gray1);
                                border-radius: 5px;
                                padding: 5px 10px;

                                &:hover {
                                        color: #ff6000;
                                        background-color: var(--white3);
                                        box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.011);
                                }

                                &#location-link {
                                        display: none;
                                }

                                &:last-child {
                                        color: var(--red1);
                                        font-weight: 600;
                                }

                                &:nth-child(6) {
                                        color: var(--gray1);
                                        font-weight: 600;
                                }
                        }
                        hr.dropdown-separator {
                                margin: 5px 10px;
                        }
                }
        }
}

////////////////////////////////////////////////////////////////

@media only screen and (max-width: 1400px) {
        input.search-input {
                width: 280px !important;

                &:focus {
                        width: 330px !important;
                }
        }
}

@media only screen and (max-width: 1200px) {
        div.header-container {
                justify-content: flex-start;
                margin-left: 35px;
        }
}

@media only screen and (max-width: 1000px) {
        div.header-container {
                margin-left: 15px;
        }
        div.header-right-menu {
                right: 10px;
        }
        :root {
                --fontsize1: 35px;
        }
}

@media only screen and (max-width: 900px) {
        div.location {
                display: none;
        }
        a.dropdown-item#location-link {
                display: block !important;
        }
        input.search-input {
                &:focus {
                        width: 300px !important;
                }
        }
}

@media only screen and (max-width: 650px) {
        div.search-container {
                position: absolute;
                top: 90px;
                left: 0;
                width: 100%;

                input.search-input {
                        width: 100% !important;
                        border-radius: 0 !important;
                        margin-left: 0 !important;
                }

                i.search-icon {
                        border-radius: 0 !important;
                        margin-right: 0 !important;
                }
        }

        div.basket {
                display: none;
        }
}

@media only screen and (max-width: 400px) {
        div.header-container {
                margin-left: 5px !important;
        }
        div.header-right-menu {
                right: 0 !important;
        }
}
