/*
THIS FILE WAS DEVELOPED BY MEHMET GUDUK
© 2022 COPYRIGHT, LICENSED WITH GPL-3.0 LICENSE, AUTHOR IS MEHMET GUDUK
*/

//@@@@@@@@@@@@@@@@@@@@@@@@@_VARIABLES_@@@@@@@@@@@@@@@@@@@@@@@@@

@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Raleway&display=swap");

:root {
    --fontfamily1: "Raleway", "Hind Madurai", sans-serif;
    --fontfamily2: "Hind Madurai", "Raleway", sans-serif;
    --red1: #f51720;
    --orange1: #ff6000;
    --white1: #f5f5f5;
    --white2: #f2f2f2;
    --white3: #ffffff;
    --gray1: #646464;
    --gray2: #4b4b4b;
    --black1: #090909;
    --green1: #4b9b44;
    --fontsize1: 40px; // hepsiburada
    --fontsize2: 15px; // search-input, location-city, basket-total, user-name
    --fontsize3: 14px; // dropdown-item(user-dropdown), nav-item-header
    --fontsize4: 13px; // location-header, group-header
    --fontsize5: 12px; // group-item
}

//@@@@@@@@@@@@@@@@@@@@@@@@@_STYLE_@@@@@@@@@@@@@@@@@@@@@@@@@

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
input.search-input,
select.city-select {
    font-family: var(--fontfamily1);
}

header {
    font-family: var(--fontfamily2);
}

a {
    text-decoration: none;
}

body {
    background-color: #cee0e6;
    height: calc(50vh);
}

main {
    height: 100px;
    width: 100%;
    box-shadow: inset 0px 165px 26px -156px rgba(0, 0, 0, 0.15);
}

//@@@@@@@@@@@@@@@@@@@@@@@@@_RESPONSIVE_@@@@@@@@@@@@@@@@@@@@@@@@@

@media only screen and (max-width: 900px) {
    :root {
        --fontsize2: 13px;
        --fontsize3: 12px;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --fontsize4: 12px;
        --fontsize5: 11.5px;
    }
}

@media only screen and (max-width: 650px) {
    main {
        position: absolute;
        top: 122px;
        z-index: -1;
    }
}
